parameters:
  level: max
  reportMaybesInPropertyPhpDocTypes: false
  treatPhpDocTypesAsCertain: false

  paths:
    - src/

  excludePaths:
    - vendor/

  ignoreErrors:
    -
      identifier: missingType.generics